main{

    
    min-height: 500px;
    background-color: #1C1C1C;
    color: white;
    
    .contenitore{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
        padding: 50px 0px 100px 0px;
        
    }

    .card{
    
        flex-basis: 13%;
        margin: 5px;
        .copertina{
            width: 150px;
            height: 150px;
            overflow: hidden;
        }
        p{
            margin-top: 10px;
            font-size: 11px;
        }
    }
}